 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid {
    min-height: 100vh;
    height: 100%;
}
.main-caisse {
    height: 100%;
}

.bgdefaut{
  background-color: rgb(48, 52, 86);
}

 
 .left-column {
   display: flex;
   flex-direction: column;
 }

 .left-block {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f8f9fa;
 }

 .h200 {height: 200px;
 }
 .bloc-dolibarr{
  padding: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

/* CSS POUR LE PANIER */
 .caddie > .card-header > .card-title{
    font-size: 25px;
    font-weight: 400;
    float: left;
    color:#fff;
    
 }
 .caddie > .card-header{
  background-color: rgb(70, 130, 180);;
 }
 .caddie > .card-header > .btnMultiplePanier{
  float: right;
  font-size: 20px;
  color: white;
 }

 .caddie > .card-body{
  background-color: rgb(242, 247, 251);
  padding: 10px;

 }
 .col-designation{
  width: 40%;
 }
 @media (max-width: 768px) {
   .left-block {
     height: 100px;
   }
   .bloc-dolibarr{
    padding: 20px;
   }

   .bloc-dolibarr h3 {
    font-size: 1.2rem;
   }
 }